<a href="https://colab.research.google.com/github/patternproject/r.sb.roadmapConvertPipe/blob/main/v_0_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Read Me

Azure Wiki requires a pipe-sign after every field to display them as a table

# Version History

v1 >> First Version

In [2]:
library(tidyverse)

In [4]:
df_1 = read_csv('/content/POS Roadmap - a.csv',col_names = FALSE)

Rows: 58 Columns: 8

── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (7): X1, X2, X3, X4, X5, X6, X7
lgl (1): X8


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [5]:
head(df_1)

  X1     X2     X3                               X4       X5 X6
1 Jul-21 Common Concave branding                 Customer NA Done
2 Jul-21 Common Invoice designer                 Customer NA Done
3 Jul-21 Retail Shift management in offline mode Customer NA Done
4 Jul-21 Common Bulk barcode sticker printing    Customer NA In Progress
5 Jul-21 Common Tax Management                   Customer NA Not Prioritized
6 Jul-21 Common Security testing                 Internal NA Done
  X7           X8
1 NA           NA
2 NA           NA
3 NA           NA
4 Moved to Aug NA
5 Moved to BL  NA
6 NA           NA

In [6]:
df_1 %>% select(-X1) -> df_2

In [7]:
head(df_2)

  X2     X3                               X4       X5 X6
1 Common Concave branding                 Customer NA Done
2 Common Invoice designer                 Customer NA Done
3 Retail Shift management in offline mode Customer NA Done
4 Common Bulk barcode sticker printing    Customer NA In Progress
5 Common Tax Management                   Customer NA Not Prioritized
6 Common Security testing                 Internal NA Done
  X7           X8
1 NA           NA
2 NA           NA
3 NA           NA
4 Moved to Aug NA
5 Moved to BL  NA
6 NA           NA

In [9]:
colnames(df_2)

[1] "X2" "X3" "X4" "X5" "X6" "X7" "X8"

In [11]:
df_2 %>% replace_na(list(
  'X2'= ".",
  'X3'= ".",
  'X4'= ".",
  'X5'= ".",
  'X6'= ".",
  'X7'= ".",
  'X8'= ".")) -> df_3